.App {
  text-align: center;
  width: 100%;
  height: 100vw;
}

.form-container {
  padding-bottom: 20px;
  
}

.component-container {
  float: left;
  overflow: hidden;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 32px;
  background-color: #c5e3f6;
  border-radius: 8px;
}

.heading {
  color: #2e2e2e;
  font-weight: 400;
}

input {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  margin-top: 16px;
  outline: none;
  border: none;
  color: gray;
  padding-left: 8px;
  padding-bottom: 8px;
  font-size: medium;
}

::placeholder {
  color:gray;
  font-weight: 100;
  font-size: large;
}

Form {
  padding: 10px 40px;
}

.style{
  color: black;
}
