.preview {
    border: 1px solid black;
    padding: 20px;
    width: 45%;
    margin-left: 53%;
    margin-top: 2%;
    overflow: hidden;
    
}
.form-container{
    margin-top: 3%;
}

.large {
    font-size: large;
}

.bold {
    font-weight: bold;
}

.detail {
    padding: 0 !important;
    margin: 0 !important;
}