.preview {
    border: 1px solid black;
    padding: 20px;
    width: 45%;
    margin-left: 52%;
    margin-top: 2%;
    overflow: hidden;
    
}
.form-container{
    margin-top: 3%;
}

.large {
    font-size: large;
}

.bold {
    font-weight: bold;
}

.detail {
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 0 !important;
}

.right {
    text-align: right;
    /* margin-right: 3%; */
}

p {
    padding: 0 !important;
    margin: 0 20px !important;
}

.preview-row {
    border-bottom: 0.5px solid rgb(206, 206, 206);
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.preview-heading {
    font-weight: lighter;
    border-bottom: 2px solid rgb(206, 206, 206);
}